& {

  header,
  main,
  footer,
  .loan content {
    overflow-x: hidden;
  }

  .nav {
    padding: 24px 0;

    .phone,
    .email {
      display: none;
    }
  }

  .boot-img {
    display: none;
  }

  .head {
    min-height: 547px;
    padding-top: 189px;

    .col-xl-6 {
      position: static;
    }
  }

  .head-img {
    position: absolute;
    top: 93px;
    right: 0;
    opacity: .5;
    z-index: 0;

    .large {
      max-width: 278px;
    }

    .head-img_bg {
      display: none;
    }
  }

  .head-item {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 30px;
      margin-bottom: 40px;
    }

    ul li {
      padding-left: 34px;
      font-size: 15px;

      &:before {
        width: 21px;
        height: 16px;
        background-size: 100%;
      }
    }
  }

  .loan {
    transform: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-bottom: 39px;

    .irs--round .irs-handle {
      width: 32px;
      height: 32px;
      top: 24px;

      &:before {
        display: none;
      }
    }

    .loan_input-text {
      text-align: center;
      padding-left: 15px;
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }

  .how_it_works {
    padding: 56px 0;
  }

  .h2-title {
    font-size: 25px;
    margin-bottom: 48px;
  }

  .how_it_works-carousel {
    padding-bottom: 56px;
  }

  .help-title {
    text-align: center;
    margin-bottom: 48px;
  }

  .help-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: .3;

    img {
      max-height: 600px;
      position: absolute;
      bottom: -67px;
      left: 50%;
      transform: translateX(-67%);
    }
  }

  .help {
    padding: 56px 0 67px;
    text-align: center;
  }

  .xs-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .help-item {
    margin-bottom: 33px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  .help-item .number {
    line-height: 1;
  }

  .reviews {
    padding: 56px 0;
  }

  .reviews-carousel .item {
    padding: 0 22px 56px;
  }

  .reviews-carousel {
    //    padding-bottom: 19px;
    position: relative;
  }

  .about-img {
    display: none;
  }

  .about,
  .faq {
    padding: 56px 0;
  }

  .about-item .terms {
    margin-bottom: 48px;
  }

  .faq-item .title {
    font-size: 15px;
    padding-right: 95px;
  }

  .faq-item .more {
    padding: 24px 15px;
  }

  .faq-item .title:before {
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    right: 10px;
  }

  .faq-item.active .title:before {
    top: 50%;
    right: 20px;
    width: 32px;
    height: 32px;
  }

  .registration {
    padding: 56px 0 0;
  }

  .registration-form {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;

    .top {
      border-radius: 0;
    }
  }

  .order-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .order-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .order-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .order-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .order-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .order-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .order-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .order-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .order-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .order-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .order-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .order-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .registration .container:before {
    display: none;
  }

  .footer-contacts {
    margin-bottom: 24px;

    a {
      text-align: left;
    }
  }

  .footer-list {
    margin-bottom: 22px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 17px;

    .container {
      position: relative;

      &:before {
        content: "";
        height: 1px;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        position: absolute;
        bottom: 58px;
      }
    }

    .logo {
      img {
        max-width: 130px;
      }
    }

    .footer-list {
      margin-bottom: 50px;

    }

    .footer-pay {
      text-align: right;

      li {
        &:last-child {
          margin-right: 0;
        }

        margin: 0 8px;

        img {
          max-width: inherit;
          max-height: 21.16px;
        }
      }
    }
  }

  .registration-form {
    margin-top: 38px;
  }

  .registration-item .title {
    font-size: 18px;
    max-width: 332px;
  }

  /*step 1*/
  .head-form .form-loan {
    position: static;
    margin-bottom: 33px;
  }

  .head-form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .head-form .form-loan .title {
    text-align: left;
  }

  .head-form .step-count {
    margin-bottom: 32px;
  }

  .form-row {
    display: block;
  }

  .form-label {
    margin-bottom: 16px;
  }

  .head-form .checkbox-label,
  .form-row {
    margin-bottom: 32px;
  }

  /*end step 1*/

  /*step2*/

  .step2 .form-label,
  .step2 .form-label.small {
    max-width: 100%;
  }

  .order-btn {
    padding: 10px 17px;
  }

  .step3 .form-label,
  .step3 .form-label.small {
    max-width: 100%;
  }

  .passport_type {
    display: block;
    position: relative;
    padding-right: 55px;

    .passport_type-input {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  .mb56,
  .step3 .form-row.mb56,
  .step2 .form-row.mb56 {
    margin-bottom: 32px;
  }

  .order-btn.prev-btn {
    border: 0;
  }

  /**/

  .card-back {
    padding-top: 95px;
    position: static;
    margin-top: -65px;
  }

  .pay-card {
    margin-bottom: 24px;
  }

  .pay-card .card-front {
    padding: 24px 15px;
  }
  .card-input input {
    width: 58px;
  }
  .card-selects {
    text-align: left;
  }
  .s_results {
    padding-top: 110px;
  }
}